<div class="container-fluid min-vh-100">
  <div class="container" style="text-align: center">
    <div class="card-booking">
      <h2>Tu as choisis <strong><%= @offer.title %></strong> !</h1>
      <img class ="avatar" src="<%= @offer.picture %>" style="width: 100px">
      <p></p>
      <h2>Choisis tes dates</h2>
      <p></p>
      <div class="container-booking">
        <%= simple_form_for [ @offer, @booking ] do |f| %>
        <%= f.date_field :start_date %>
        <%= f.date_field :end_date %></div>
        <p></p>
        <p style="text-align: center"><%= f.submit "Confirmer", class: "btn" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

    <%# <form action="/offers/:offer_id/bookings" method="post">
      <div class="form-row">
        <div class="col">
          <label for="start_date">Start Date</label>
          <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Start Date">
        </div>
      </div>
      <div class="form-row mt-3">
        <div class="col">
          <label for="end_date">End Date</label>
          <input type="date" class="form-control" id="exampleInputPassword1" placeholder="End Date">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form> %>
