<div class="container-fluid min-vh-100">
  <h1 class="offers-title">Plus de 15 Wagonners aux talents exceptionnels disponibles !</h1>
  <div class="container-index-offers">
  <%# <div class="row">
  <div class="col"> %>
    <div class="cards-offers">
      <% @offers.each do |offer| %>
        <div class="card-offer">
          <%= link_to offer_path(offer) do %>
            <div class="card-image" style="background-image: url(<%= offer.picture %>)">
              <h5 class="card-title"><%= offer.title %> </h5>
            </div>
          <% end %>

            <div class="card-description">
              <div class="rating-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h6><%= offer.description %></h6>
              <%# <div class="buttons"> %>
              <% skills = offer.skill.split %>
              <% skills.each do |skill| %>
                <button class="btn-skill"><%= skill %></button>
              <% end %>
                <%# <button class="btn-booking">See more</button> %>
              <%# </div> %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
