<div class="container-fluid min-vh-100">
  <h1 class="offers-title" style="text-align: center">Plus de 15 Wagonners aux talents exceptionnels disponibles !</h1>
  <h2 style="text-align: center">Trouve un Wagonner avec des compétences spécifiques</h2>
  <p></p>
    <div class="container-search">
      <%= form_tag offers_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Tape le language qu'il te faut, ex : Ruby, CSS..."
      %>
      <p></p>
      <p style="text-align: center"><%= submit_tag "C'est parti !", class: "btn" %></p>
      <% end %>
    </div>
  <div class="container-index-offers">
  <%# <div class="row">
  <div class="col"> %>
    <div class="cards-offers">
      <% @offers.each do |offer| %>
        <div class="card-offer">
          <%= link_to offer_path(offer) do %>
            <div class="card-image" style="background-image: url(<%= offer.picture %>)">
              <h5 class="card-title"><%= offer.title %> </h5>
            </div>
          <% end %>

            <div class="card-description">
              <div class="rating-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <h6><%= offer.description %></h6>
              <%# <div class="buttons"> %>
              <% skills = offer.skill.split %>
              <% skills.each do |skill| %>
                <button class="btn-skill"><%= skill %></button>
              <% end %>
                <%# <button class="btn-booking">See more</button> %>
              <%# </div> %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
